{
  "extends": "airbnb-typescript-prettier",
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/require-default-props": "off",
    "import/no-cycle": "off",
    "import/prefer-default-export": "off",
    "react-hooks/exhaustive-deps": "off",
    "no-restricted-exports": 0,
    "react/no-unstable-nested-components": 0,
    "import/no-extraneous-dependencies": 0,
    "react/function-component-definition": [
      2,
      { "namedComponents": "arrow-function" }
    ],
    "prettier/prettier": [
      "warn",
      {
        "printWidth": 120,
        "tabWidth": 2,
        "useTabs": false,
        "semi": true,
        "singleQuote": true,
        "trailingComma": "es5",
        "bracketSpacing": true,
        "jsxSingleQuote": false,
        "arrowParens": "always",
        "proseWrap": "never",
        "htmlWhitespaceSensitivity": "strict",
        "endOfLine": "lf"
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  }
}
