@import 'vars';

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  background-color: var(--color-off-white);
  color: var(--color-dark-brown);
  font-family: 'Yellix', sans-serif;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
 text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

#root {
  display: flex;
  flex-direction: row-reverse;
  min-height: 100dvh;
}

main {
  padding: 40px 28px;
  position: relative;
  flex-grow: 1;
  max-width: 100%;
  overflow: hidden;

  @media screen and (max-width: 1024px) {
    padding: 24px 16px;
  }
}
